
<div class="container">
    <!-- START ARTICLE FEED -->
    <section class="articles">
        <div class="column is-8 is-offset-2">
            <!-- START ARTICLE -->
            <div class="card article">
                <div class="card-content">
                    <div class="media">
                        <div class="media-center">
                            <figure>
                                <img src="{% if post.image %}
                                    {{ post.image.url }}
                                    {% else %}
                                    https://via.placeholder.com/240x240.jpeg
                                    {% endif %}" alt="">
                            </figure>
                        <div class="media-content has-text-centered">
                            <h3><a href="{% url 'blog_detail' post.pk %}" class="title article-title">{{ post.title }}</a></h3> 
                            <div class="tags level-item mt-3">
                                <span class="tag is-rounded is-info">{{ post.author }}</span>
                                <span class="tag is-rounded">Posted at: {{ post.date_added }}</span>
                                {% for category in post.categories.all %}
                                <a class="tag is-rounded is-warning" href="{% url 'blog_category' category.name %}">
                                    Category: {{ category.name }}
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="content article-body">
                        <p>{{ post.intro }}</p>
                            <p>{{ post.body | slice:":200" }}...</p>
                        <a href="{% url 'blog_detail' post.pk %}">Read More</a>
                    </div>
                </div>
            </div>
            <!-- END ARTICLE -->
    </section>
</div>

          

