{% extends "Blog/base.html" %}
{% load static %}

{% block content %}


<div class="columns">
    <div class="column is-12-desktop">
    <div class="card">
        <div class="card-content">
            <div class="content">
                <h1 class="title">Privacy Policy</h1>
                <p>This Privacy Policy describes how "Lahore Travels" ("we", "us", or "our") collects, uses, and shares your personal information when you use our website Lahore Travels(the "Site").</p>
    
                <h2 class="subtitle">Information We Collect</h2>
                <ul>
                  <li><strong>Personal Information</strong>
                    When you visit our Site, we may collect certain personal information from you, such as your name, email address, and any other information you provide to us voluntarily.</li>
                  <li><strong>Usage Data</strong> may also collect information about how you access and use the Site ("Usage Data"). This Usage Data may include information such as your computer's Internet Protocol address (e.g., IP address), browser type, browser version, the pages of our Site that you visit, the time and date of your visit, the time spent on those pages, unique device identifiers, and other diagnostic data..</li>
                </ul>


                <h3 class="subtitle">Use of Information</h3>
                <p>We may use the information we collect for various purposes, including:</p>
                <ol>
                  <li>To provide and maintain our Site;</li>
                  <li>To notify you about changes to our Site;</li>
                  <li>To allow you to participate in interactive features of our Site when you choose to do so;</li>
                  <li>To provide customer support;</li>
                  <li>To gather analysis or valuable information so that we can improve our Site;</li>
                  <li>To monitor the usage of our Site;</li>
                  <li>To detect, prevent, and address technical issues.</li>
                </ol>
    
                <h3 class="subtitle">Disclosure of Information</h3>
                <ul>
                <li><strong>Business Transactions: </strong>If we are involved in a merger, acquisition, or asset sale, your personal information may be transferred.</li>
                <li><strong>Law Enforcement:</strong> We may disclose your personal information if required to do so by law or in response to valid requests by public authorities (e.g., a court or a government agency).</li>
                <li><strong>Legal Requirements:</strong> We may disclose your personal information to comply with legal obligations or protect and defend our rights or property.</li>
                </ul>
    
                <h3 class="subtitle">Data Retention</h3>
                <p>We will retain your personal information only for as long as is necessary for the purposes set out in this Privacy Policy.</p>
    
    
                <h3 class="subtitle">Contact Us</h3>
    
                <p>If you have any questions about this Privacy Policy, please contact us:</p>
                <li>Email: nhussainjee@gmail.com</li>
                <li>Whatsapp: (001) 347-622-8090</li>
    
                <h3 class="subtitle">Changes To Our Privacy Policy</h3>
                <p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.</p>
    
            </div>
        </div>
    </div>
    
</div>




    
  
     
    

{% endblock %}